main {
    padding: 50px;
}

section {
    background: rgba(216, 160, 103, 0.5);
    border-radius: 20px;
    border: 2px solid #493322;
    padding: 0 30px 20px 30px;
}

#su-pizza {
    margin: -110px 0 0 0;
    position: relative;
    z-index: 1100;
}